@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', Arial, sans-serif;
}

body {
  background-color: #f0f0f0;
}

.campo {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
}

h3 {
  margin-top: 15px;
}

.form-group {
  margin-bottom: 20px;
}

.input-label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.input-field {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
}

.input-container {
  margin-bottom: 15px;
}

textarea.input-field {
  resize: vertical;
}

.buttonRecipe {
  text-align: center;
}

.buttonRecipe button {
  padding: 10px 20px;
  background-color: #FFB525;
  color: #fff;
  text-align: center;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.buttonRecipe button:hover {
  background-color: #FFA200;
}

.material-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.material-item p {
  margin-bottom: 0;
}

.material-item button {
  padding: 8px 16px;
  background-color: #FFB525;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
}

.material-item button:hover {
  background-color: #FFA200;
}

.btn-continuar {
  display: inline-block;
  padding: 10px 20px;
  background-color: #FFB525;
  color: #fff;
  border: none;
  border-radius: 3px;
  text-decoration: none;
  font-size: 16px;
  margin-top: 20px;
}

.btn-continuar:hover {
  background-color: #FFA200;
}

.btn-salvar-materiais {
  display: inline-block;
  padding: 10px 20px;
  background-color: #FFB525;
  color: #fff;
  border: none;
  border-radius: 3px;
  text-decoration: none;
  font-size: 16px;
  margin-top: 20px;
}

.btn-salvar-materiais:hover {
  background-color: #FFA200;
}

@media screen and (max-width: 480px) {
  .campo {
    max-width: 90%;
    margin: 20px auto;
    padding: 10px;
  }

  .input-field {
    padding: 8px;
    font-size: 14px;
  }

  .buttonRecipe button,
  .btn-salvar-materiais {
    padding: 8px 16px;
    font-size: 14px;
  }
}
