@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Inter', Arial, sans-serif;
}

h2 {
  text-align: center;
  margin-top: 15px;
  font-size: 2.0rem;
}

.categoria {
  margin-top: 20px;
  text-align: center;
}

.categoria h1 {
  margin: 30px 0;
  font-size: 1.8rem;
  color: #333;
}

.categorias-lista {
  list-style: none;
  padding: 0;
  margin: 30px auto;
  width: 90%;
  text-align: center;
}

.categorias-lista li {
  display: inline-block;
  margin-right: 30px;
}

.categorias-lista li:last-child {
  margin-right: 0;
}

.categorias-lista li a {
  display: block;
  padding: 10px 20px;
  background-color: #FFB525;
  border-radius: 5px;
  text-decoration: none;
  color: #fff;
  transition: background-color 0.3s;
  margin-top: 15px;

}

.categorias-lista li a:hover {
  background-color: #FFA200;
}