@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', Arial, sans-serif;
}

header {
  background-color: #878787;
  box-shadow: 0px 3px 10px #464646;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 200px;
}

.nav-list {
  display: flex;
  align-items: center;
}

.menu-icon {
  display: block;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
}

.nav-list ul {
  display: flex;
  list-style: none;
}

.nav-item {
  margin: 0 15px;
}

.nav-link {
  text-decoration: none;
  font-size: 1.15rem;
  color: #fff;
  font-weight: 400;
}

.sidebar {
  background-color: #878787;
  box-shadow: 0px 3px 10px #464646;
  height: 100%;
  width: 200px;
  position: fixed;
  top: 0;
  right: -200px;
  transition: right 0.3s;
}

.sidebar.active {
  right: 0;
}

.sidebar-list {
  padding: 20px;
  list-style: none;
}

.sidebar-link {
  text-decoration: none;
  color: #fff;
  font-size: 1.15rem;
}

.sidebar-link:hover {
  color: #f39c12;
}

.close-button {
  color: #fff;
  font-size: 24px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .nav-bar {
    padding: 1rem; 
  }

  .logo h1 {
    font-size: 1.2rem;
  }

  .nav-list {
    display: none;
  }

  .menu-icon {
    display: block;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
  }

  .sidebar {
    padding-top: 4rem; 
    top: 0;
    left: -200px;
    right: 0;
  }

  .sidebar.active {
    left: 0;
  }
}
