/* home.css */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', Arial, sans-serif;
}

h2 {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 2.0rem;
}

.form-busca {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.form-busca input[type="text"] {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
  width: 300px;
}

.form-busca button {
  padding: 10px 20px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 0 5px 5px 0;
  background-color: #FFB525;
  color: #fff;
  cursor: pointer;
}

.form-busca button:hover {
  background-color: #e0a600;
}

.receitas-recomendadas {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.receita {
  list-style-type: none;
  margin: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  width: 350px; /* Tamanho igual ao da tela de exemplo */
  text-align: left;
}

.receita img.foto-prato {
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin-bottom: 10px;
}

.receita h3 a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  display: block;
}

.receita h3 {
  margin: 0 0 10px 0;
}

.receita p {
  margin-top: 5px;
  color: #666;
}

.naoCadastrada {
  text-align: center;
}

.recomendados h1 {
text-align: center;
  margin-top: 15px;
}

.categoria h1 {
  text-align: center;
  margin: 30px;
  margin-top: 15px;
}

.categorias-lista {
  list-style: none;
  padding: 0;
  margin: 30px auto;
  width: 90%;
  text-align: center;
}

.categorias-lista li {
  display: inline-block;
  margin-right: 30px;
}

.categorias-lista li:last-child {
  margin-right: 0;
}

.categorias-lista li a {
  display: block;
  padding: 10px 20px;
  background-color: #FFB525;
  border-radius: 5px;
  text-decoration: none;
  color: #fff;
  transition: background-color 0.3s ease;
}

.categorias-lista li a:hover {
  background-color: #e0a600;
}
