body {
  font-family: Arial, sans-serif;
}

.container {
  width: 50%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.espaco{
  margin-top: 25px;

}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"],
.form-group input[type="file"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  
}

button {
  width: 30%;
  padding: 10px;
  border: none;
  border-radius: 5px;
 background-color: #FFB525;
  color: white;
  font-size: 16px;
}


button:hover {
  background-color: #FFA200;

}


