@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', Arial, sans-serif;
}

h1 {
  text-align: center;
  margin-top: 15px;
  color: #333;
}

.form {
  max-width: 300px;
  margin: 0 auto;
  padding: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group .input-label {
  display: block;
}

.form-group .input-container {
  position: relative;
}

.form-group .input-field {
  width: calc(100% - 30px);
  padding: 10px;
  margin-top: 5px;
  padding-left: 30px;
}

.form-group .input-field::placeholder {
  color: #aaa;
}

.input-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}

.button {
  text-align: center;
  margin-top: 20px;
}

.button button {
  width: 50%;
  cursor: pointer;
  background-color: #FFB525;
  color: #000;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s;
}

.button button:hover {
  background-color: #FFA200;
}

.cadastrar {
  text-align: center;
  margin-top: 20px;
}

.cadastrar a {
  text-decoration: none;
  color: #FFB525;
}

.categoria {
  margin-top: 20px;
  text-align: center;
}

.categoria h1 {
  margin: 30px 0;
  font-size: 1.8rem;
  color: #333;
}

.categorias-lista {
  list-style: none;
  padding: 0;
  margin: 30px auto;
  width: 90%;
  text-align: center;
}

.categorias-lista li {
  display: inline-block;
  margin-right: 30px;
}

.categorias-lista li:last-child {
  margin-right: 0;
}

.categorias-lista li a {
  display: block;
  padding: 10px 20px;
  background-color: #FFB525;
  border-radius: 5px;
  text-decoration: none;
  color: #fff;
  transition: background-color 0.3s;
}

.categorias-lista li a:hover {
  background-color: #FFA200;
}

@media screen and (max-width: 600px) {
  .form {
    max-width: 100%;
    padding: 10px;
  }

  .form-group .input-field {
    width: 100%;
  }

  .button button {
    width: 100%;
  }

  .button button {
    width: 100%;
    cursor: pointer;
    background-color: #FFB525;
    color: #000;
    border: none;
    padding: 15px;
    border-radius: 5px;
    font-size: 16px; 
    transition: background-color 0.3s;
  }

  .button button:hover {
    background-color: #FFA200;
  }
}
